body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  color: $main-font-color;
}

h1 {
  font-size: 45px;
  font-weight: 800;
}

p {
  font-size: 1rem;
  line-height: 2;
  margin: 48px 0 0 0;
}

.mark {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 11px;
    left: -12px;
    background-color: #60CAE5;
    width: 116%;
    height: 80%;
    transform: rotate(11deg);
    z-index: -1;
  }
}
