$main-font-color: #000;
$active-nav-color: #949494;
$label-bg-color: #F50C0C;
$label-color: #fff;
$background-color: #fff;
$accent-color: #60CAE5;
$secondary-bg-color: #D7D7D7;
$slider-overlay-color: #222222;
$slider-heading-color: #B8B8B8;
$slider-date-color: #BCBCBC;
$secondary-font-color-light: #9F9F9F;
$footer-background-color: #222222;