.checkout {
  padding-bottom: 100px;
}
.checkout-form {
  display: flex;
  justify-content: space-between;
  &__right {
    .cart__product {
      max-width: 521px;
    }
  }
  .form-input {
    margin: 0 0 29px 0;
  }
  .input-form__label {
    padding: 0;
  }
}
.checkout-form__left {
  //flex-grow: 0.5;
  width: 50%;
}
.spollers-block {
  &__item {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 51px;
      left: 20px;
      height: calc(100% - 62px);
      width: 1px;
      border-left: 1px dashed #C3CACC;
      }
  }
  &__title {
    letter-spacing: -0.5px;
    font-weight: 600;
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    transition: all 0.4s;
    margin-bottom: 26px;
    &:hover {
      cursor: pointer;
      color: $main-font-color;
    }
    &._active {
      color: $main-font-color;
    }
    &._filled {
      .spollers-block__number {
        background-color: $accent-color;
        font-size: 0;
        background-image: url("../img/checkout-filled.svg");
      }
      &._collapsed {
        .spollers-block__data {
          display: block;
          color: grey;
        }
        .spollers-block__edit {
          display: block;
        }
      }
    }
  }
  &__data {
    display: none;
    font-size: 0.875rem;
    padding-left: 55px;
    color: #8F8F8F;
    line-height: 1.5;
    font-weight: 400;
  }
  &__title-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__title-left {
    display: flex;
    align-items: center;
  }
  &__edit {
    display: none;
    font-size: 1rem;
    padding-left: 26px;
    text-decoration: underline;
    background-image: url("../img/edit-icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  &__number {
    display: flex;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F2F3F5;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.4s;
  }
  &__body {
    display: none;
    padding: 27px 55px 65px;
    .btn {
      display: inline-block;
      margin: 10px 0 0;
      padding: 14px 40px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.city-list {
  position: absolute;
  left: 0;
  top: 43px;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(19, 48, 55, 0.1);
  max-height: 255px;
  overflow: auto;
  background-color: $background-color;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  &__wrapper {
    position: relative;
  }
  &__item {
    padding: 11px 19px;
    width: 100%;
    &:hover {
      background-color: #F2F3F7;
      cursor: pointer;
    }
    &._hidden {
      display: none;
    }
  }
}

.form-input:focus ~ .city-list {
  visibility: visible;
  opacity: 1;
}