.checkout {
  padding-bottom: 100px;
}
.checkout-form {
  display: flex;
  justify-content: space-between;
  &__right {
    .cart__product {
      max-width: 521px;
    }
  }
}
.spollers-block {
  &__title {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    transition: all 0.4s;
    &:hover {
      cursor: pointer;
    }
    &._filled {
      color: $accent-color;
      .spollers-block__number {
        background-color: $accent-color;
      }
    }
  }
  &__number {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F2F3F5;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: all 0.4s;
  }
  &__body {
    display: none;
    padding: 20px 0 0 0;
  }
}