.get-involved-popup-link {
  display: flex;
  gap: 18px;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  color: $label-color;
  .btn {
    margin-right: 18px;
  }
  &:hover {
    cursor: pointer;
  }
  &__text:hover {
    opacity: 0.8;
  }
}

.how-to-help {
  padding: 57px 0 118px;
  background-color: #F2F3F5;
  &__cards {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media screen and (max-width: 991px) {
      justify-content: center;
    }
  }
  &__card {
    text-decoration: none;
    color: $main-font-color;
    padding: 39px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    width: 409px;
    margin: 17px 24px 0 0;
    transition: all 0.4s;
    &:hover {
      border-color: $accent-color;
      cursor: pointer;
      .how-to-help__card-link {
        background-color: $accent-color;
        border-color: $accent-color;
      }
    }
    @media screen and (max-width: 670px) {
      margin: 17px 0 0 0;
      width: 100%;
    }
    &:nth-child(3n) {
      margin: 17px 0 0 0;
      @media screen and (max-width: 1334px) {
        margin: 17px 24px 0 0;
      }
      @media screen and (max-width: 670px) {
        margin: 17px 0 0 0;
      }
    }
    &:nth-child(2n) {
      @media screen and (max-width: 1334px) {
        margin: 17px 0 0 0;
      }
    }
  }
  &__card-icon {

  }
  &__card-title {
    margin: 25px 0;
  }
  &__card-link {
    font-size: 0;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid $main-font-color;
    background-image: url(../img/arrow-btn-submit.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
    &:hover {
      background-color: $accent-color;
      border-color: $accent-color;
    }
  }
}
.patreon {
  padding-bottom: 83px;
  @media screen and (max-width: 780px) {
    padding-bottom: 60px;
  }
}
.patreon-img-wrapper {
  margin-top: -72px;
  text-align: center;
}

.patreon-support {
  &__wrapper {
    max-width: 748px;
    text-align: center;
    margin: 0 auto;
  }
  &__title {
    margin: 17px 0 70px;
    @media screen and (max-width: 4px) {
      margin: 17px 0 35px;
    }
  }
  &__text {
    line-height: 2;
    margin: 0 0 70px;
  }
  &__link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 778px) {
      flex-direction: column;
    }
  }
  &__link {
    margin-right: 29px;
    background-color: #F2F3F5;
    color: $main-font-color;
    text-decoration: underline;
    @media screen and (max-width: 778px) {
      margin: 0 0 29px;
    }
    @media screen and (max-width: 428px) {
      font-size: 0.875rem;
    }
    &.btn-with-icon {
      @media screen and (max-width: 428px) {
        padding: 14px 18px;
      }
    }
    &:hover {
      background-color: #F2F3F5;
      text-decoration: none;
      .btn-with-icon__icon-wrapper {
        background-color: #F2F3F5;
      }
    }
    .btn-with-icon__icon-wrapper {
      background-color: $footer-background-color;
      transition: all 0.4s;
      @media screen and (max-width: 428px) {
        display: none;
      }
      &:hover {
        background-color: #F2F3F5;
      }
    }
    .btn-with-icon__text {
      letter-spacing: -0.5px;
    }
  }
  &__link-slogan {
    position: relative;
    text-align: left;
    color: #C6C6C6;
    line-height: 2;
    font-weight: 600;
    letter-spacing: -0.5px;
    font-size: 1.125rem;
    padding-left: 22px;
    @media screen and (max-width: 778px) {
      padding: 22px 0 0;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: #D3D3D3;
      @media screen and (max-width: 778px) {
        height: 1px;
        width: 100%;
      }
    }
  }
}