.heading {
  padding: 53px 0 38px 0;
  h1 {
    font-size: 72px;
    max-width: 1060px;
  }
}
.last-news {
  padding: 35px 0 45px 0;
  &__heading {
    margin: 0;
    text-decoration: underline;
    font-size: 1.125rem;
    font-weight: 600;
  }
}