.heading {
  padding: 53px 0 38px 0;
  h1 {
    font-size: 72px;
    max-width: 1060px;
  }
}
.last-news {
  padding: 35px 0 45px 0;
  &__heading {
    margin: 0;
    text-decoration: underline;
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.projects {
  padding-top: 55px;
  &__heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 33px;
  }
  &__heading {
    font-size: 1.125rem;
    color: $slider-heading-color;
    font-weight: 600;
    &-left-col {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__link {
    color: $main-font-color;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: underline;
    transition: color 0.3s;
    margin-right: 108px;
    &:hover {
      color: $active-nav-color;
      transition: color 0.3s;
    }
  }
}