.projects-detailed {
  position: relative;
  padding-bottom: 125px;
  background-color: $background-color;
  &__title {
    z-index: 2;
    position: relative;
    padding-top: 20px;
    width: 412px;
    background: linear-gradient(90deg, $background-color 91.26%, rgba(255, 255, 255, 0) 101.43%);
  }
  &__back {
    font-size: .875rem;
    display: flex;
    align-items: center;
    height: 34px;
    color: #8F8F8F;
    padding-left: 42px;
    background-image: url("../img/arrow-left-circle-icon.svg");
    background-position: left;
    background-repeat: no-repeat;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .projects__controls {
    position: absolute;
    top: 236px;
    right: 0;
    z-index: 2;
  }
}

.titles-slider {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    background-color: $accent-color;
  }
  &__slide {
    padding-top: 27px;
    padding-bottom: 27px;
    min-height: 160px;
    background-color: $background-color;
    h2 {
      font-size: 2.25rem;
      line-height: 1.15;
      font-weight: 800;
      margin: 0;
      @media screen and (max-width: 1919px) {
        font-size: 1.875rem;
      }
    }
  }
}

.titles-control-slider {
  &-wrapper {
    position: absolute;
    width: calc(50% + 220px);
    top: 0;
    left: calc(50% - 220px);
  }
  &__slide {
    padding: 29px;
    min-height: 214px;
    background-color: #F2F3F5;
    border: 1px solid #ECECEC;
    border-top: none;
    &.swiper-slide-thumb-active {
      //background-color: $background-color;
      opacity: 0.7;
    }
  }
  &__slide-index {
    font-weight: 600;
    color: $secondary-font-color-light;
  }
  &__title {
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-top: 56px;
    @media screen and (max-width: 1919px) {
      font-size: 0.936rem;
    }
  }
}

.body-slider {
  &__slide {
    padding-top: 53px;
    background-color: $background-color;
    p, div, ul, li {
      max-width: 848px;
      margin: 24px auto;
    }
    img {
      display: block;
      margin: 24px auto;
    }
  }
  &__date {
    font-weight: 600;
    color: $secondary-font-color-light;
    font-size: .875rem;
    width: 848px;
  }
}