@import "../variables_";

.donate-cards {
  margin: 70px 0 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    justify-content: space-around;
  }
  @media screen and (max-width: 992px) {
    margin: 35px 0 50px;
  }
}
.donate-card {
  position: relative;
  display: block;
  max-width: 410px;
  border-radius: 5px;
  //border: 1px solid #CBCBCB;
  margin-bottom: 24px;
  transition: all 0.4s;
  color: $main-font-color;
  text-decoration: none;
  @media screen and (max-width: 1340px) {
    max-width: 32%;
  }
  @media screen and (max-width: 1024px) {
    max-width: 47%;
  }
  @media screen and (max-width: 670px) {
    max-width: 100%;
  }
  &__link-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &__link-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $background-color;
    background-image: url("../img/arrow-donate.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(22, 26, 27, 0.32);
    .donate-card__link-hover {
      opacity: 1;
      transition: opacity 0.3s;
    }
    .donate-card__link-hover {
      opacity: 1;
      transition: opacity 0.3s;
    }
    .donate-card__img-wrapper::after {
      opacity: 0.8;
    }
    .donate-card__img {
      filter: blur(3px);
    }
    .donate-card__description {
      border-color: transparent;
    }
  }
  &__img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $accent-color;
      opacity: 0;
      transition: all 0.3s;
    }
  }
  &__img {
    width: 100%;
    display: block;
    transition: all 0.4s;
  }
  &__description {
    padding: 40px 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #CBCBCB;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }
  &__title {
    margin: 0;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2.25rem;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 42.91%, rgba(256, 256, 256, 1) 100%);
    }
    @media screen and (max-width: 1340px) {
      font-size: 1.3rem;
    }
  }
  &__info-wrapper {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    &:last-child {
      text-align: right;
    }
  }
  &__info-title {
    color: #979797;
  }
  &__info-number {
    margin-top: 12px;
    font-weight: 600;
  }
  &-complete {
    .donate-card__img {
      filter: blur(3px);
    }
  }
}
.project__progress {
  &-complete {
    .project__total-amount {
      width: 36px;
      height: 36px;
      background-image: url("../img/donate-complete.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.project__progress_donate {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px 27px 21px;
}
.project__progress-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.57%, rgba(27, 22, 22, 0.42) 100%);;
}
.project__fund {
  display: flex;
}

.project__total-amount {
  margin: 0;
  font-size: 1.125rem;
  color: $label-color;
  font-weight: 700;
}

.project__relative_donate {
  font-weight: 500;
  color: #9F9F9F;
  margin-left: 12px;
}

//------------
//Donate Single
//------------

.project__progress_donate-banner {
  width: 630px;
  @media screen and (max-width: 630px) {
    width: 100%;
  }
  .project {
    &__progress-numbers {
      align-items: flex-end;
    }
    &__fund-date {
      color: $secondary-font-color-light;
    }
    &__fund {
      align-items: baseline;
    }
    &__amount {
      font-weight: 800;
      font-size: calc(1.25rem + 12 * (100vw - 320px) / (1920 - 320));
    }
    &__relative_donate {
      margin-left: 14px;
    }
    &__total-amount {
      font-weight: 700;
      font-size: 1.17rem;
      margin-bottom: 9px;
      @media screen and (max-width: 630px) {
        margin-bottom: 0;
      }
        span {
        color: $secondary-font-color-light;
        font-size: 1rem;
      }
    }
    &__progress-bar {
      margin-top: 20px;
    }
    &__progress-bar-full {
      height: 19px;
      background-color: #F5F5F2;
      opacity: 0.22;
      border-radius: 10px;
    }
    &__progress-bar-done {
      height: 19px;
      border-radius: 10px;
    }
  }
}

.donate-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  .btn-with-icon {
    margin-right: 54px;
  }
}


.donate-social-links {
  &__wrapper {
    display: flex;
    align-items: center;
    .social-list {
      margin: 0;
      a {
        background-color: #F9F9F9;
        &:hover {
          background-color: $accent-color;
        }
      }
    }
    li:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__text {
    font-size: 0.875rem;
    color: $secondary-font-color-light;
    margin-right: 19px;
  }

}