body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

.header {
  border-bottom: solid 1px #d9d9d9;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 127px;
}

.header__right {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
}

.header .logo {
  display: block;
}

.header__nav {
  padding-top: 7px;
}

.header .header__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  margin: 0 0 0 78px;
  padding: 0;
}

.header .header__nav-list a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: color 0.5s;
}

.header .header__nav-list a:hover {
  color: #949494;
  transition: color 0.5s;
}

.header .header__nav-list a.active {
  color: #949494;
}

.header .profile {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../../img/profile-icon.svg");
  background-size: contain;
}

.header .cart {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../../img/cart-icon.svg");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 31px;
  border-radius: 50px;
  background-color: #60CAE5;
}

.header .burger-menu__body {
  position: fixed;
  top: 128px;
  right: -120%;
  width: 35%;
  min-width: 440px;
  max-width: 760px;
  height: calc(100% - 200px);
  background-color: #fff;
  transition: right 0.5s ease 0s;
  overflow: auto;
  z-index: 2;
  padding: 54px 0 54px 115px;
}

.header .burger-menu__list {
  list-style: none;
  padding-left: 0;
}

.header .burger-menu__list li:not(:first-child) {
  margin-top: 24px;
}

.header .burger-menu__list a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  font-weight: 800;
  line-height: 49px;
  transition: color 0.5s;
  letter-spacing: -0.830409px;
}

.header .burger-menu__list a:hover {
  color: #60CAE5;
  transition: color 0.5s;
}

.header .burger-menu__list a.active {
  color: #60CAE5;
}

.header .burger-menu__social-list {
  padding-left: 0;
  list-style: none;
  margin-top: 123px;
  display: flex;
  justify-content: flex-start;
  gap: 47px;
}

.header .burger-menu__social-list a {
  display: block;
  font-size: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #D7D7D7;
  transition: background-color 0.5s;
  background-position: center;
  background-repeat: no-repeat;
}

.header .burger-menu__social-list a:hover {
  background-color: #60CAE5;
}

.header .burger-menu__social-list .facebook {
  background-image: url("../../img/facebook-icon.svg");
}

.header .burger-menu__social-list .telegram {
  background-image: url("../../img/telegram-icon.svg");
}

.header .burger-menu__social-list .instagram {
  background-image: url("../../img/instagram-icon.svg");
}

.header .burger-menu__social-list .tiktok {
  background-image: url("../../img/tiktok-icon.svg");
}

.header .burger-menu__icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 25px;
  height: 16px;
  cursor: pointer;
  margin-left: 52px;
}

.header .burger-menu__icon span,
.header .burger-menu__icon::before,
.header .burger-menu__icon::after {
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #000;
}

.header .burger-menu__icon::before,
.header .burger-menu__icon::after {
  content: "";
}

.header .burger-menu__icon::before {
  top: 0;
  width: 60%;
  left: 40%;
}

.header .burger-menu__icon::after {
  bottom: 0;
}

.header .burger-menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.header .burger-menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
}

.header .burger-menu__icon._active::before {
  top: 50%;
  width: 100%;
  left: 0;
  transform: rotate(-45deg) translate(0px, -50%);
}

.header .burger-menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.header .burger-menu__body._active {
  right: 0;
}

.header .burger-menu__body._active ~ .burger-menu__overlay {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}

.header .burger-menu__overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 0s 1s;
  position: absolute;
  width: 100%;
  height: calc(100% - 128px);
  top: 128px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header .persons {
  margin-top: 82px;
}

.header .person {
  padding-top: 40px;
  padding-bottom: 34px;
}

.header .person:not(:last-child) {
  border-bottom: solid 1px #D1D1D1;
}

.header .person h2 {
  font-weight: 600;
  text-transform: uppercase;
}

.header .person p {
  color: #727272;
}

.header .person a {
  color: #000;
  font-size: 1rem;
  text-decoration: underline;
  transition: color 0.5s;
}

.header .person a:hover {
  color: #727272;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50px;
  width: 22px;
  height: 22px;
  color: #fff;
  background-color: #F50C0C;
  font-size: 12px;
  font-weight: 700;
  right: -15px;
  top: -16px;
}

.cart .label {
  right: -5px;
  top: -6px;
}

.burger-menu .label {
  right: -30px;
  top: -5px;
}

body {
  margin: 0;
}

.container {
  max-width: 1284px;
  margin: 0 auto;
}
