body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  margin: 45px 0 55px;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 1.7rem;
    margin: 30px 0 46px;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.2rem;
    margin: 23px 0 35px;
  }
}

.banner-heading {
  font-size: 2.8rem;
  font-weight: 800;
}

.section-heading {
  font-size: 2.25rem;
  font-weight: 800;
  margin: 45px 0 55px;
}

@media screen and (max-width: 1280px) {
  .section-heading {
    font-size: 1.7rem;
    margin: 30px 0 46px;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.section-description {
  max-width: 760px;
}

.section-promo-text {
  margin: 15px 0 63px;
  max-width: 850px;
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 24px 0 24px 0;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000;
}

button:hover {
  opacity: 0.8;
}

.mark {
  position: relative;
}

.mark::after {
  content: '';
  position: absolute;
  top: 11px;
  left: -12px;
  background-color: #60CAE5;
  width: 116%;
  height: 80%;
  transform: rotate(11deg);
  z-index: -1;
}

.mark_small {
  color: #000;
}

.mark_small::after {
  top: -8px;
  left: -10px;
  width: 110%;
  height: 120%;
  transform: rotate(355deg);
}

.section-promo-text .mark::after {
  top: -5px;
  left: -7px;
  width: 103%;
  height: 135%;
  transform: rotate(3deg);
}

.highlighted {
  display: inline-block;
  background-color: #60CAE5;
  color: #000;
  font-weight: 700;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.header {
  border-bottom: solid 1px #d9d9d9;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 117px;
}

.header__right {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
}

.header .logo {
  display: block;
}

.header__nav {
  padding-top: 7px;
}

@media screen and (max-width: 860px) {
  .header__nav {
    display: none;
  }
}

.header__nav-mobile {
  margin-top: 22px;
  display: none;
}

@media screen and (max-width: 860px) {
  .header__nav-mobile {
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .header__nav-mobile {
    margin-top: 16px;
  }
}

.header .header__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  margin: 0 0 0 78px;
  padding: 0;
}

.header .header__nav-list a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: color 0.5s;
}

.header .header__nav-list a:hover {
  color: #949494;
  transition: color 0.5s;
}

.header .header__nav-list a.active {
  color: #949494;
}

.header .profile {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../img/profile-icon.svg");
  background-size: contain;
}

@media screen and (max-width: 560px) {
  .header .profile {
    width: 16px;
    height: 16px;
  }
}

.header .cart {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../img/cart-icon.svg");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 31px;
  border-radius: 50px;
  background-color: #60CAE5;
}

@media screen and (max-width: 560px) {
  .header .cart {
    width: 28px;
    height: 28px;
    margin-left: 17px;
    background-size: 50%;
  }
}

.header .burger-menu__body {
  position: fixed;
  top: 118px;
  right: -120%;
  width: 35%;
  min-width: 302px;
  max-width: 760px;
  height: calc(100% - 118px);
  background-color: #fff;
  transition: right 0.5s ease 0s;
  overflow: auto;
  z-index: 4;
  padding: 54px 18px 54px 115px;
}

@media screen and (max-width: 1919px) {
  .header .burger-menu__body {
    padding: 50px 18px 48px 80px;
  }
}

@media screen and (max-width: 1280px) {
  .header .burger-menu__body {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .header .burger-menu__body {
    width: 70%;
  }
}

@media screen and (max-width: 680px) {
  .header .burger-menu__body {
    padding: 46px 18px 39px 18px;
  }
}

@media screen and (max-width: 560px) {
  .header .burger-menu__body {
    right: -160%;
    width: 100%;
  }
}

.header .burger-menu__list {
  list-style: none;
  padding-left: 0;
}

.header .burger-menu__list li:not(:first-child) {
  margin-top: 24px;
}

@media screen and (max-width: 1919px) {
  .header .burger-menu__list li:not(:first-child) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 680px) {
  .header .burger-menu__list li:not(:first-child) {
    margin-top: 16px;
  }
}

.header .burger-menu__list a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 49px;
  transition: color 0.5s;
  letter-spacing: -0.830409px;
}

.header .burger-menu__list a:hover {
  color: #60CAE5;
  transition: color 0.5s;
}

.header .burger-menu__list a.active {
  color: #60CAE5;
}

@media screen and (max-width: 1919px) {
  .header .burger-menu__list a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 680px) {
  .header .burger-menu__list a {
    font-size: 1.5rem;
  }
}

.header .burger-menu__icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 25px;
  height: 16px;
  cursor: pointer;
  margin-left: 52px;
}

@media screen and (max-width: 560px) {
  .header .burger-menu__icon {
    width: 19px;
    height: 12px;
    margin-left: 21px;
  }
}

.header .burger-menu__icon span,
.header .burger-menu__icon::before,
.header .burger-menu__icon::after {
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #000;
}

.header .burger-menu__icon::before,
.header .burger-menu__icon::after {
  content: "";
}

.header .burger-menu__icon::before {
  top: 0;
  width: 60%;
  left: 40%;
}

.header .burger-menu__icon::after {
  bottom: 0;
}

.header .burger-menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.header .burger-menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
}

.header .burger-menu__icon._active::before {
  top: 50%;
  width: 100%;
  left: 0;
  transform: rotate(-45deg) translate(0px, -50%);
}

.header .burger-menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.header .burger-menu__body._active {
  right: 0;
}

.header .burger-menu__body._active ~ .burger-menu__overlay {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}

.header .burger-menu__overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 0s 1s;
  position: absolute;
  width: 100%;
  height: calc(100% - 118px);
  top: 118px;
  left: 0;
  background-color: rgba(17, 24, 39, 0.5);
  z-index: 3;
}

.header .persons {
  margin-top: 82px;
}

@media screen and (max-width: 1919px) {
  .header .persons {
    margin-top: 45px;
  }
}

@media screen and (max-width: 680px) {
  .header .persons {
    margin-top: 0;
  }
}

.header .person {
  padding-top: 40px;
  padding-bottom: 34px;
}

.header .person:not(:last-child) {
  border-bottom: solid 1px #D1D1D1;
}

.header .person h2 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header .person p {
  color: #727272;
  margin-top: 8px;
  margin-bottom: 8px;
}

.header .person a {
  color: #000;
  font-size: 1rem;
  text-decoration: underline;
  transition: color 0.5s;
}

.header .person a:hover {
  color: #727272;
}

._lock {
  overflow: hidden;
}

.btn {
  display: block;
  border-radius: 50%;
  background-color: #60CAE5;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.btn_submit {
  width: 48px;
  height: 48px;
  background-image: url("../img/arrow-btn-submit.svg");
  font-size: 0;
  transition: background-position 0.3s ease-in;
}

.btn_submit:hover {
  background-position: 26px;
}

.btn-icon-text {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 70px;
  border: none;
  background-color: #fff;
}

.btn-icon-text:hover {
  cursor: pointer;
}

.contacts .btn_submit {
  width: 58px;
  height: 58px;
  background-size: 30%;
}

.contact-us__form .btn_submit {
  background-image: url("../img/carbon_send.svg");
}

.contact-us__form .btn_submit:hover {
  background-position: center;
}

.banner {
  padding: 54px 0 72px;
  position: relative;
  z-index: 0;
  height: calc(100vh - 117px);
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .banner {
    padding: 35px 0 48px;
  }
}

.banner .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner h1 {
  font-size: 2.81rem;
  max-width: 1072px;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .banner h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .banner h1 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 560px) {
  .banner h1 {
    font-size: 1.4rem;
  }
}

.banner p {
  max-width: 609px;
  font-weight: 500;
}

@media screen and (max-width: 560px) {
  .banner p {
    font-size: 0.875rem;
  }
}

.banner_dark {
  color: #fff;
}

._no-webp .banner_about-us {
  background-image: url("../img/bg-about-us.jpg"); }

.scroll-down-link {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: center;
  color: #9F9F9F;
  text-decoration: none;
}

.scroll-down-link:hover {
  text-decoration: underline;
}

.scroll-down-link__btn {
  width: 52px;
  height: 52px;
  background-image: url("../img/arrow-btn-scroll-down.svg");
  margin-right: 21px;
  background-color: transparent;
  border: 1px solid #9F9F9F;
}

.secondary-navigation {
  display: flex;
  gap: 59px;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .secondary-navigation {
    flex-wrap: wrap;
    gap: 36px;
  }
}

.secondary-navigation_on-dark .breadcrumbs li {
  color: #fff;
}

.back-btn {
  font-size: .875rem;
  display: flex;
  align-items: center;
  height: 34px;
  color: #8F8F8F;
  padding-left: 42px;
  background-image: url("../img/arrow-left-circle-icon.svg");
  background-position: left;
  background-repeat: no-repeat;
  text-decoration: none;
}

.back-btn:hover {
  text-decoration: underline;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  font-size: 0.825rem;
}

.breadcrumbs li {
  color: #000;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs li:not(:last-child) a, .breadcrumbs li:not(:last-child) {
  color: #8F8F8F;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  background-color: #fff;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #60CAE5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
  z-index: 1;
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white {
  --swiper-pagination-color: #ffffff;
}

.swiper-pagination-black {
  --swiper-pagination-color: #000000;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: flex-start;
}

.swiper-pagination-bullet {
  display: block;
  width: 13px;
  height: 13px;
  background-color: #DBDEE4;
  border-radius: 50%;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 13px;
}

.swiper-pagination-bullet-active {
  background-color: #9AA2B2;
}

.swiper-button-next,
.swiper-button-prev {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #60CAE5;
  background-image: url("../img/arrow-right-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 0 30px;
  transition: all 0.5s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #60CAE5;
  border-color: #60CAE5;
}

.swiper-button-prev {
  transform: scaleX(-1);
  margin: 0 30px 0 0;
}

.slider__controls {
  position: relative;
  display: flex;
  min-width: 80px;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .slider__controls {
    justify-content: space-between;
  }
}

/*===========
Sliders
============*/
.last-news__slide {
  padding-bottom: 30px;
}

.last-news__date {
  font-size: 1rem;
  color: #BCBCBC;
}

.last-news__title {
  font-weight: 800;
  font-size: 1.5rem;
}

.last-news__controls {
  display: flex;
  min-width: 80px;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .last-news__controls {
    justify-content: space-between;
  }
}

.project__slide {
  position: relative;
}

.project__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.project__link .project__slide-img {
  transition: 0.3s;
}

.project__link .project__slide-img-second {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.project__link .project__link-hover {
  transition: opacity 0.4s;
}

.project__link:hover .project__link-hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.project__link:hover .project__slide-img {
  filter: blur(3px);
}

.project__link:hover .project__img-wrapper::after {
  opacity: 0.2;
}

.project__link-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.project__link-icon {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../img/arrow-right-hover-slider-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.project__img-wrapper {
  position: relative;
  overflow: hidden;
}

.project__img-wrapper img {
  width: 100%;
  display: block;
}

.project__img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  opacity: 0.7;
}

.project__info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 36px 26px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project__date {
  color: #BCBCBC;
  font-size: 1rem;
}

.project__title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  margin-top: 14px;
  line-height: 1.1;
}

.project__progress-numbers {
  display: flex;
  justify-content: space-between;
}

.project__amount {
  color: #fff;
  font-weight: 800;
  margin: 0;
}

.project__relative {
  color: #8A8A8A;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.project__progress-bar {
  position: relative;
  margin-top: 14px;
}

.project__progress-bar-full {
  width: 100%;
  height: 8px;
  background-color: #E8E8E4;
  border-radius: 4px;
}

.project__progress-bar-done {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 8px;
  background-color: #60CAE5;
  border-radius: 4px;
}

.home-projects-button-next {
  position: relative;
  width: 52px;
  height: 52px;
  background-image: url("../img/arrow-right-icon-2.svg");
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
}

.home-projects-button-next .progress-circle {
  position: absolute;
  top: 0;
  left: 0;
}

.projects__controls {
  cursor: pointer;
  transition: opacity 0.2s;
}

.projects__controls:hover {
  opacity: 0.8;
}

.swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
}

.long-active-bullet__controls {
  margin-top: 37px;
}

.long-active-bullet__controls .swiper-button-next:hover,
.long-active-bullet__controls .swiper-button-prev:hover {
  border-color: #60CAE5;
}

.long-active-bullet__controls .swiper-button-next {
  border-color: #696969;
  margin: 0 0 0 57px;
}

.long-active-bullet__controls .swiper-button-prev {
  border-color: #696969;
  margin: 0 57px 0 0;
}

.long-active-bullet__controls .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.29);
}

.long-active-bullet__controls .swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px;
}

.long-active-bullet__controls .swiper-pagination-bullet-active {
  width: 20px;
  background-color: #60CAE5;
}

.what-we-do__slider {
  margin-left: 436px;
  max-width: 600px;
}

@media screen and (max-width: 992px) {
  .what-we-do__slider {
    margin: 15px 0 0 0;
  }
}

.what-we-do__slider::before {
  content: '';
  display: block;
  width: 43px;
  height: 4px;
  background-color: #60CAE5;
}

.what-we-do__slide-heading {
  text-transform: uppercase;
  margin: 45px 0 32px;
}

.hashtag-gallery__slider {
  width: 550px;
  flex-shrink: 0;
  padding-bottom: 51px;
  margin-top: 29px;
}

@media screen and (max-width: 992px) {
  .hashtag-gallery__slider {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .hashtag-gallery__slider {
    width: 100%;
  }
}

.hashtag-gallery__slider .long-active-bullet__controls {
  margin-top: 0px;
}

@media screen and (max-width: 992px) {
  .hashtag-gallery__slider .long-active-bullet__controls {
    margin-top: 17px;
  }
}

.hashtag-gallery__img-wrapper img {
  width: 100%;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50px;
  width: 22px;
  height: 22px;
  color: #fff;
  background-color: #F50C0C;
  font-size: 12px;
  font-weight: 700;
  right: -15px;
  top: -16px;
}

.label_subscribe-form {
  right: -20px;
  top: -11px;
}

@media screen and (max-width: 560px) {
  .label {
    width: 14px;
    height: 14px;
    font-size: 10px;
  }
}

.cart .label {
  right: -5px;
  top: -6px;
}

.burger-menu .label {
  right: -30px;
  top: -5px;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(17, 24, 39, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  transition: all 0.3s ease 0.2s;
  transform: scale(1);
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__body {
  transform: scale(0);
  transition: all 0.3s ease 0s;
  background-color: #fff;
  width: 100%;
  max-width: 1280px;
}

@media screen and (max-width: 1919px) {
  .popup__body {
    width: 1120px;
  }
}

@media screen and (max-width: 1200px) {
  .popup__body {
    width: 90%;
  }
}

.popup__body iframe {
  width: 1280px;
  height: 720px;
  border: none;
}

@media screen and (max-width: 1919px) {
  .popup__body iframe {
    width: 1120px;
    height: 630px;
  }
}

@media screen and (max-width: 1919px) {
  .popup__body iframe {
    width: 100%;
    height: 49.7vw;
  }
}

.popup__close {
  width: 19px;
  height: 21px;
  position: absolute;
  top: -19px;
  right: -20px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/close.svg") 0 0 no-repeat;
}

.popup_video .popup__body {
  background-color: transparent;
}

.video-popup-link {
  display: block;
  position: relative;
}

.video-popup-link:hover {
  opacity: 0.9;
}

.video-popup-link ::before {
  position: absolute;
  top: calc(50% - 73px);
  left: calc(50% - 73px);
  content: '';
  width: 147px;
  height: 147px;
  border-radius: 50%;
  border: 1px solid #fff;
}

@media screen and (max-width: 992px) {
  .video-popup-link ::before {
    top: calc(50% - 22px);
    left: calc(50% - 22px);
    width: 44px;
    height: 44px;
  }
}

.video-popup-link ::after {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 64px);
  content: '';
  width: 129px;
  height: 129px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.8;
  background-image: url("../img/play-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .video-popup-link ::after {
    top: calc(50% - 19px);
    left: calc(50% - 19px);
    width: 40px;
    height: 40px;
    background-size: 17%;
  }
}

.popup-form .popup__body {
  max-width: 750px;
  border-radius: 5px;
  padding: 59px 108px;
}

@media screen and (max-width: 560px) {
  .popup-form .popup__body {
    padding: 36px 24px;
  }
}

.popup-form .popup__close {
  width: 15px;
  height: 15px;
  top: 59px;
  right: 108px;
  background: url(../img/popup-form-close.svg) 0 0 no-repeat;
}

@media screen and (max-width: 560px) {
  .popup-form .popup__close {
    top: 36px;
    right: 24px;
  }
}

.social-list {
  padding-left: 0;
  list-style: none;
  margin-top: 123px;
  display: flex;
  justify-content: flex-start;
  gap: 47px;
}

@media screen and (max-width: 1919px) {
  .social-list {
    margin-top: 65px;
  }
}

@media screen and (max-width: 680px) {
  .social-list {
    margin-top: 25px;
  }
}

.social-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #D7D7D7;
  transition: background-color 0.5s;
  background-position: center;
  background-repeat: no-repeat;
}

.social-list a:hover {
  background-color: #60CAE5;
}

.footer__social .social-list {
  margin: 0;
  gap: 22px;
}

.footer__social .social-list a {
  width: 22px;
  height: 22px;
  background: none;
}

.footer__social .social-list a :hover path {
  fill: #60CAE5;
}

.footer__social .social-list a path {
  fill: #737373;
  transition: fill 0.3s;
}

.input-form__wrapper {
  position: relative;
}

.input-form__label {
  position: absolute;
  top: 5px;
  left: 10px;
  transition: all 0.5s;
  color: #868686;
  font-size: 1rem;
}

.form-input {
  width: 400px;
  display: block;
  border: none;
  border-bottom: 1px solid #8D8D8D;
  padding: 10px;
}

.form-input::placeholder {
  color: #868686;
  font-size: 0.875rem;
}

.form-input:focus + .input-form__label {
  top: -25px;
  left: 0px;
  font-size: 0.813rem;
}

.subscribe {
  padding: 33px 0;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
}

@media screen and (max-width: 1279px) {
  .subscribe-form {
    width: 740px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
  }
}

@media screen and (max-width: 780px) {
  .subscribe-form {
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
  }
}

@media screen and (max-width: 1279px) {
  .subscribe-form__text-wrapper {
    width: 100%;
  }
}

.subscribe-form__text {
  position: relative;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.subscribe-form__inputs-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

@media screen and (max-width: 780px) {
  .subscribe-form__inputs-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 1366px) {
  .subscribe-form__input {
    width: 300px;
  }
}

@media screen and (max-width: 780px) {
  .subscribe-form__input {
    width: 280px;
  }
}

.contact-us__input {
  width: 100%;
  margin-top: 30px;
}

.contact-us__input::placeholder {
  font-size: 1rem;
}

.footer {
  background-color: #222222;
}

.footer__top .container, .footer__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__top {
  border-bottom: 1px solid #2F2F2F;
}

@media screen and (max-width: 417px) {
  .footer__top .container {
    flex-direction: column;
  }
}

.footer__bottom {
  padding: 20px 0;
}

@media screen and (max-width: 992px) {
  .footer__bottom .container {
    flex-wrap: wrap;
  }
}

.footer__nav, .footer__hash-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 30px 0;
  padding: 0;
  gap: 35px;
}

@media screen and (max-width: 992px) {
  .footer__nav, .footer__hash-list {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__nav-link, .footer__hash-link {
  padding: 8px 0;
  text-decoration: none;
  transition: color 0.5s;
}

.footer__nav-link {
  color: #fff;
}

.footer__nav-link:hover {
  color: #60CAE5;
}

.footer__hash-link {
  color: #60CAE5;
}

.footer__hash-link:hover {
  color: #fff;
}

.footer__copywrite, .footer__developed-by {
  color: #A8A8A8;
}

@media screen and (max-width: 560px) {
  .footer__copywrite, .footer__developed-by {
    padding: 25px 0 20px;
  }
}

.footer__copywrite a, .footer__developed-by a {
  color: #fff;
  transition: color 0.5s;
}

.footer__copywrite a:hover, .footer__developed-by a:hover {
  color: #60CAE5;
}

@media screen and (max-width: 560px) {
  .footer__social {
    width: 100%;
    order: -1;
    padding: 12px 0 25px;
    border-bottom: 1px solid #2F2F2F;
  }
}

@media screen and (max-width: 560px) {
  .footer__social .social-list {
    width: 100%;
    justify-content: space-between;
  }
}

.home {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.home .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home .header {
  flex: 0 1 auto;
}

.home .main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  padding: 50px 0 0 0;
  align-self: flex-start;
}

@media screen and (max-width: 1919px) {
  .heading {
    padding: 0;
  }
}

.heading__wrapper {
  display: block;
  max-width: 1059px;
}

.heading h1 {
  font-size: 4.5rem;
  line-height: 1.2;
}

@media screen and (max-width: 1919px) {
  .heading h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1600px) {
  .heading h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1366px) {
  .heading h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 780px) {
  .heading h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 560px) {
  .heading h1 {
    font-size: 1.65rem;
  }
}

.last-news {
  padding: 0;
}

@media screen and (max-width: 560px) {
  .last-news {
    padding: 26px 0 0 0;
  }
}

.last-news__heading {
  margin: 0;
  text-decoration: underline;
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
}

.last-news__heading:hover {
  opacity: 0.8;
}

.last-news__slide {
  background-color: #fff;
}

.last-news__slide-inner {
  max-width: 413px;
}

.projects {
  padding: 0;
}

@media screen and (max-width: 560px) {
  .projects {
    padding-top: 30px;
  }
}

.projects__heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 33px;
}

@media screen and (max-width: 560px) {
  .projects__heading-wrapper {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
}

.projects__heading {
  font-size: 1.125rem;
  color: #B8B8B8;
  font-weight: 600;
}

@media screen and (max-width: 560px) {
  .projects__heading {
    margin: 0;
  }
}

.projects__heading-left-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .projects__heading-left-col {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .projects__controls {
    position: absolute;
    right: 16px;
    top: calc(50% - 38px);
  }
}

.projects__link {
  color: #000;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s;
  margin-right: 108px;
}

.projects__link:hover {
  color: #949494;
  transition: color 0.3s;
}

@media screen and (max-width: 560px) {
  .projects__link {
    margin-top: 10px;
  }
}

.projects-detailed {
  position: relative;
  padding-bottom: 125px;
  background-color: #fff;
}

.projects-detailed__title {
  z-index: 2;
  position: relative;
  padding-top: 20px;
  width: 412px;
  background: linear-gradient(90deg, #fff 91.26%, rgba(255, 255, 255, 0) 101.43%);
}

@media screen and (max-width: 992px) {
  .projects-detailed__title {
    display: none;
  }
}

.projects-detailed .projects__controls {
  position: absolute;
  top: 236px;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  .projects-detailed .projects__controls {
    right: 30px;
  }
}

@media screen and (max-width: 992px) {
  .projects-detailed .projects__controls {
    top: 198px;
  }
}

@media screen and (max-width: 780px) {
  .projects-detailed .projects__controls {
    left: 17px;
  }
}

.titles-slider {
  position: relative;
}

.titles-slider::after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background-color: #60CAE5;
}

.titles-slider__slide {
  padding-top: 27px;
  padding-bottom: 27px;
  min-height: 160px;
  background-color: #fff;
}

.titles-slider__slide h2 {
  font-size: 2.25rem;
  line-height: 1.15;
  font-weight: 800;
  margin: 0;
}

@media screen and (max-width: 1919px) {
  .titles-slider__slide h2 {
    font-size: 1.875rem;
  }
}

.titles-control-slider-wrapper {
  position: absolute;
  width: calc(50% + 220px);
  top: 0;
  left: calc(50% - 220px);
}

@media screen and (max-width: 992px) {
  .titles-control-slider-wrapper {
    width: 100%;
    left: 0;
    z-index: 1;
  }
}

.titles-control-slider__slide {
  padding: 29px;
  min-height: 214px;
  background-color: #F2F3F5;
  border: 1px solid #ECECEC;
  border-top: none;
}

@media screen and (max-width: 992px) {
  .titles-control-slider__slide {
    padding: 24px 16px;
    min-height: 176px;
  }
}

.titles-control-slider__slide.swiper-slide-thumb-active {
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .titles-control-slider__slide.swiper-slide-thumb-active {
    background-color: #F6F6F8;
    opacity: 1;
    color: #60CAE5;
  }
}

.titles-control-slider__slide-index {
  font-weight: 600;
  color: #9F9F9F;
}

.titles-control-slider__title {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-top: 56px;
}

@media screen and (max-width: 1919px) {
  .titles-control-slider__title {
    font-size: 0.936rem;
  }
}

@media screen and (max-width: 992px) {
  .titles-control-slider__title {
    margin-top: 28px;
  }
}

@media screen and (max-width: 560px) {
  .titles-control-slider__title {
    margin-top: 16px;
  }
}

@media screen and (max-width: 992px) {
  .body-slider {
    padding-top: 200px;
  }
}

.body-slider__slide {
  padding-top: 53px;
  background-color: #fff;
}

.body-slider__slide p, .body-slider__slide div, .body-slider__slide ul, .body-slider__slide li {
  max-width: 848px;
  margin: 24px auto;
}

.body-slider__slide img {
  display: block;
  margin: 24px auto;
}

.body-slider__date {
  font-weight: 600;
  color: #9F9F9F;
  font-size: .875rem;
  width: 848px;
}

.body-slider .share {
  width: 307px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  margin: 0;
}

.body-slider .share-wrapper {
  margin: 51px auto 0;
}

.body-slider .share .social-list {
  gap: 9px;
  margin: 0;
}

.body-slider .share p {
  font-size: 0.875rem;
  color: #9F9F9F;
}

.contacts {
  padding: 45px 0 62px;
}

.contacts .social-list {
  margin-top: 17px;
  gap: 12px;
}

.contact-links__wrapper {
  margin-top: 60px;
  display: flex;
  gap: 113px;
  align-items: flex-end;
}

@media screen and (max-width: 560px) {
  .contact-links__wrapper {
    flex-wrap: wrap;
    gap: 40px;
  }
}

.write-us-popup-link {
  display: flex;
  gap: 18px;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 560px) {
  .write-us-popup-link {
    width: 100%;
  }
}

.write-us-popup-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.contact-social-links__wrapper p {
  margin: 0;
  color: #7B7B7B;
}

.team-cards {
  display: flex;
  gap: 9px;
}

@media screen and (max-width: 1280px) {
  .team-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 250px;
  border: 1px solid #D9D9D9;
  padding: 39px 28px;
  transition: all 0.4s;
}

.team-card:hover {
  background-color: #f9f9f9;
}

.team-card img {
  border-radius: 50%;
}

.team-card h3 {
  font-weight: 700;
  font-size: 0.825rem;
  margin: 26px 0 0;
  text-transform: uppercase;
}

.team-card p {
  color: #727272;
  font-size: 0.825rem;
  margin: 20px 0 0;
}

.team-card a {
  color: #000;
  margin-top: 24px;
}

.team-card a:hover {
  opacity: 0.8;
}

.our-mission,
.details {
  padding: 25px 0 90px;
}

@media screen and (max-width: 780px) {
  .our-mission,
  .details {
    padding: 15px 0 45px;
  }
}

.our-mission__cards {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 991px) {
  .our-mission__cards {
    justify-content: center;
  }
}

.our-mission__card {
  padding: 40px 36px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  max-width: 409px;
  margin: 17px 24px 0 0;
  transition: all 0.4s;
}

.our-mission__card:hover {
  background-color: #f9f9f9;
}

@media screen and (max-width: 1280px) {
  .our-mission__card {
    max-width: 293px;
  }
}

@media screen and (max-width: 641px) {
  .our-mission__card {
    margin: 17px 0 0 0;
    max-width: 305px;
  }
}

.our-mission__card:nth-child(3n) {
  margin: 17px 0 0 0;
}

@media screen and (max-width: 991px) {
  .our-mission__card:nth-child(3n) {
    margin: 17px 24px 0 0;
  }
}

@media screen and (max-width: 641px) {
  .our-mission__card:nth-child(3n) {
    margin: 17px 0 0 0;
  }
}

@media screen and (max-width: 991px) {
  .our-mission__card:nth-child(2n) {
    margin: 17px 0 0 0;
  }
}

.our-mission__card-title-wrapper {
  display: flex;
  align-items: center;
}

.our-mission__card-icon-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #F2F3F5;
}

.our-mission__card-title {
  margin-left: 20px;
}

.animated_fade-up {
  transform: translate(0px, 150px);
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.animated_fade-up._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.hashtag-section {
  padding-top: 45px;
}

.hashtag-description {
  max-width: 565px;
}

.slider-with-text-wrapper {
  display: flex;
  margin-bottom: 109px;
}

@media screen and (max-width: 1024px) {
  .slider-with-text-wrapper {
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 992px) {
  .slider-with-text-wrapper {
    flex-direction: column;
  }
}

.hashtag-gallery__text {
  margin-left: 79px;
  padding-top: 78px;
}

@media screen and (max-width: 1024px) {
  .hashtag-gallery__text {
    margin-left: 38px;
    padding-top: 29px;
  }
}

@media screen and (max-width: 992px) {
  .hashtag-gallery__text {
    margin-left: 0;
  }
}

.line-above-block::before {
  content: '';
  display: block;
  width: 37px;
  height: 3px;
  background-color: #60CAE5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1340px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

._relative {
  position: relative;
}

.content-container {
  max-width: 848px;
}

.content-container_centered {
  margin: 0 auto;
}

img {
  max-width: 100%;
}

._webp .banner_about-us { background-image: url(../img/bg-about-us.webp); }

/*# sourceMappingURL=../maps/style.css.map */
