.btn {
  display: block;
  border-radius: 50%;
  background-color: $accent-color;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  &_submit {
    width: 48px;
    height: 48px;
    background-image: url("../img/arrow-btn-submit.svg");
    font-size: 0;
    transition: background-position 0.3s ease-in;
    &:hover {
      background-position: 26px;
    }
  }
}
.btn-icon-text {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 70px;
  border: none;
  background-color: $background-color;
  &:hover {
    cursor: pointer;
  }
}

.contacts {
  .btn_submit {
    width: 58px;
    height: 58px;
    background-size: 30%;

  }
}

.contact-us__form {
  .btn_submit {
    background-image: url("../../img/carbon_send.svg");
    &:hover {
      background-position: center;
    }
  }
}