.header {
  .cart {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("../img/cart-icon.svg");
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 31px;
    border-radius: 50px;
    background-color: $accent-color;
    z-index: 5;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    @media screen and (max-width: 560px) {
      width: 28px;
      height: 28px;
      margin-left: 17px;
      background-size: 50%;
    }
    &__body {
      position: fixed;
      top: 0;
      right: -120%;
      width: 65%;
      min-width: 302px;
      height: 100%;
      transition: right 0.5s ease 0s;
      overflow: auto;
      z-index: 4;
      @media screen and (min-width: 1921px) {
        width: 57%;
      }
      @media screen and (max-width: 590px) {
        width: 100%;
      }
      &._active {
        right: 0;
        &~.cart__overlay {
          visibility: visible;
          opacity: 1;
          transition: opacity 1s;
        }
      }
    }
    &__header {
      height: 118px;
      border-bottom: solid 1px #d9d9d9;
      position: fixed;
      background: #fff;
      width: 100%;
      z-index: 5;
    }
    &__main {
      position: relative;
      padding: 164px 0 46px calc(30px + 78 * (100vw - 320px) / (1920 - 320));
      min-height: 100%;
    }

    &__checkout-wrapper {
      display: flex;
      align-items: center;
      @media screen and (max-width: 440px) {
        flex-wrap: wrap;
      }
      .product__btn {
        margin: 0 130px 0 0;
        color: $main-font-color;
        text-decoration: none;
        @media screen and (max-width: 770px) {
          margin: 0 45px 0 0;
        }
      }
      .product__price {
        margin-top: 5px;
      }
    }
    &__overlay {
      visibility: hidden;
      opacity: 0;
      transition: opacity 1s, visibility 0s 1s;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(17, 24, 39, 0.5);
      z-index: 3;
    }
  }
  .cart_regular {
    background-image: url("../img/heart-filled-icon.svg");
    background-size: 60%;
  }
}
.translucent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  opacity: 0.9;
  z-index: -1;
}

.cart {
  &__products {
    padding: 22px calc((100vw - 1280px - 17px) / 2 - 18px) 35px 0;
    @media screen and (max-width: 1340px) {
      padding-right: 30px;
    }
    @media screen and (max-width: 780px) {
      padding-right: 16px;
    }
  }
  &__product {
    position: relative;
    padding: 31px 31px 26px 26px;
    background-color: $background-color;
    border-radius: 5px;
    margin-bottom: 16px;
    display: flex;
  }
  &__remove {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    right: 18px;
    background: url(../img/popup-form-close.svg) 0 0 no-repeat;
    background-size: 60%;
    background-position: center;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  &__product-left {
    width: 136px;
    margin-right: 56px;
    flex-shrink: 0;
    img {
      display: block;
      width: 100%;
    }
  }
  &__product-right {
    .product__title {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.2;
      margin: 0 0 32px;
    }
    .product__options-wrapper {
      @media screen and (max-width: 1280px) {
        flex-direction: row;
      }
      @media screen and (max-width: 940px) {
        margin-top: 30px;
      }
      @media screen and (max-width: 400px) {
        flex-wrap: wrap;
      }
    }
    .product__option:not(:last-child) {
      margin-right: 45px;
    }
    .product__option-title {
      margin-bottom: 11px;
    }
    .product__option-value {
      text-transform: uppercase;
      font-size: 0.75rem;
    }
    .product__option-color {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      font-size: 0;
      border: 1px solid $main-font-color;
    }
    .quantity {
      margin-top: 0;
    }
    .product__price {
      font-size: 1rem;
    }
  }
}

