.input-form {
  &__wrapper {
    position: relative;
  }
  &__label {
    position: absolute;
    top: 5px;
    left: 10px;
    transition: all 0.5s;
    color: #868686;
    font-size: 1rem;
  }
}

.form-input {
  width: 400px;
  display: block;
  border: none;
  border-bottom: 1px solid #8D8D8D;
  padding: 10px;
  &::placeholder {
    color: #868686;
    font-size: 0.875rem;
  }
  &:focus + .input-form__label {
    top: -25px;
    left: 0px;
    font-size: 0.813rem;
  }
}

.subscribe {
  padding: 33px 0;
}
.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1279px) {
    width: 740px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
  }
  @media screen and (max-width: 780px) {
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
  }
  @media screen and (max-width: 560px) {
    width: 100%;
  }
  &__text-wrapper {
    margin: 0 54px 0 0;
    @media screen and (max-width: 1279px) {
      margin: 0 0 54px 0;
    }
  }
  &__text {
    position: relative;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
  &__inputs-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 54px 0 0;
    @media screen and (max-width: 780px) {
      flex-direction: column;
      margin: 0 0 54px 0;
    }
    @media screen and (max-width: 560px) {
      width: 100%;
    }
  }
  &__input {
    &:first-child {
      margin: 0 24px 0 0;
      @media screen and (max-width: 780px) {
        margin: 0 0 24px 0;
      }
    }
    @media screen and (max-width: 1366px) {
      width: 300px;
    }
    @media screen and (max-width: 780px) {
      width: 280px;
    }
    @media screen and (max-width: 560px) {
      width: 100%;
    }
  }
}

.contact-us {
  &__input {
    width: 100%;
    margin-top: 30px;
    &::placeholder {
      font-size: 1rem;
    }
  }
}

//<SELECT (sel+tab)>====================================================================================================
.select {
  position: relative;
  line-height: 1;
  // .select__item
  &__item {
    position: relative;
  }
  // .select__title
  &__title {
    color: #000;
    cursor: pointer;
    @media (max-width: 780px) {
      font-size: 0.875rem;
    }
  }
  // .select__value
  &__value {
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    span {
      height: 1em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &:before {
      content: "";
      display: inline-block;
      transition: all 0.3s ease 0s;
      width: 6px;
      height: 10px;
      background: url("../img/select.svg") center no-repeat;
    }
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
  // .select__options
  &__options {
    color: #000;
    display: none;
    position: absolute;
    top: 45px;
    left: -19px;
    border-radius: 0 0 4px 4px;
    width: 200px;
    background-color: #fff;
    padding: 9px 0;
    @media (max-width: 780px) {
      font-size: 0.875rem;
    }
  }
  // .select__option
  &__option {
    cursor: pointer;
    padding: 9px 19px;
    margin: 0px 0px 0px 0px;
    letter-spacing: -0.5px;
    @media (min-width: 992px) {
      &:hover {
        background: #E1E1E1;
      }
    }
  }
  &._active {
    z-index: 5;
    .select__value {
      &:before {
        transform: rotate(90deg);
      }
    }
    .select__options {
      display: block;
      box-shadow: 0px 10px 20px rgba(19, 48, 55, 0.1);
    }
  }
}
//</SELECT>====================================================================================================

.select_city-select {
  width: 200px;
  padding: 5px 16px 5px 19px;
  letter-spacing: -0.5px;
  border-radius: 17px;
  background-color: #F2F3F5;
  border: 1px solid #E1E1E1;
}