.pagination {
  &__wrapper {
    display: flex;
    margin-top: 60px;
    @media screen and (max-width: 1337px) {
      justify-content: center;
    }
  }
  &__prev, &__next, &__item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #696969;
    color: #696969;
    transition: all 0.4s;
    &:hover, &_active {
      cursor: pointer;
      color: $label-color;
      background-color: #222222;
      path {
        stroke: $label-color;
      }
    }
    &_disabled {
      background-color: #F2F3F5;
      border-color: #C4C4C4;
    }
  }
  &__next {
    transform: scale(-1);
  }
  &_light {
    margin-top: 47px;
    .pagination {
      &__prev, &__next, &__item {
        &:hover, &_active {
          background-color: #696969;
        }
      }
    }

    &.pagination__wrapper {
      @media screen and (max-width: 880px) {
        justify-content: flex-start;
      }
    }

  }
}