//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	&::before {
		content: "";
		background-color: rgba(17, 24, 39, 0.5);;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		overflow: auto;
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: #666;
		width: 100%;
		max-width: 1280px;
		@media screen and (max-width: 1919px) {
			width: 1120px;
		}
		@media screen and (max-width: 1200px) {
			width: 90%;
		}
		iframe {
			width: 1280px;
			height: 720px;
			border: none;
			@media screen and (max-width: 1919px) {
				width: 1120px;
				height: 630px;
			}
			@media screen and (max-width: 1919px) {
				width: 100%;
				height: 49.7vw;
			}
		}
	}
	// .popup__close
	&__close {
		width: 19px;
		height: 21px;
		position: absolute;
		top: -19px;
		right: -20px;
		cursor: pointer;
		z-index: 30;
		background: url("../img/close.svg") 0 0 no-repeat;
	}
}
//====================================================================================================
//====================================================================================================
.popup_video {
	.popup__body {
		background-color: transparent;
	}
}

.video-popup-link {
	display: block;
	position: relative;
	&:hover {
		opacity: 0.9;
	}
	::before {
		position: absolute;
		top: calc(50% - 73px);
		left: calc(50% - 73px);
		content: '';
		width: 147px;
		height: 147px;
		border-radius: 50%;
		border: 1px solid $background-color;
		@media screen and (max-width: 992px) {
			top: calc(50% - 22px);
			left: calc(50% - 22px);
			width: 44px;
			height: 44px;
		}
	}
	::after {
		position: absolute;
		top: calc(50% - 64px);
		left: calc(50% - 64px);
		content: '';
		width: 129px;
		height: 129px;
		border-radius: 50%;
		background-color: $background-color;
		opacity: 0.8;
		background-image: url("../img/play-icon.svg");
		background-position: center;
		background-repeat: no-repeat;
		@media screen and (max-width: 992px) {
			top: calc(50% - 19px);
			left: calc(50% - 19px);
			width: 40px;
			height: 40px;
			background-size: 17%;
		}
	}
}