.secondary-navigation {
  display: flex;
  align-items: center;
  @media screen and (max-width: 560px) {
    flex-wrap: wrap;
  }
  &_on-dark {
    .breadcrumbs {
      li {
        color: $label-color;
      }
    }
  }
}

.back-btn {
  font-size: .875rem;
  display: flex;
  align-items: center;
  height: 34px;
  color: #8F8F8F;
  padding-left: 42px;
  background-image: url("../img/arrow-left-circle-icon.svg");
  background-position: left;
  background-repeat: no-repeat;
  text-decoration: none;
  margin-right: 59px;
  @media screen and (max-width: 560px) {
    margin-right: 36px;
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 0.825rem;
  @media screen and (max-width: 780px) {
    flex-wrap: wrap;
  }
  li {
    color: $main-font-color;
    white-space: nowrap;
    margin-right: 8px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li:not(:last-child) a, li:not(:last-child){
    color: #8F8F8F;
  }
}