.social-list {
  padding-left: 0;
  list-style: none;
  margin-top: 123px;
  display: flex;
  justify-content: flex-start;
  @media screen and (max-width: 1919px) {
      margin-top: 65px;
  }
  @media screen and (max-width: 680px) {
    margin-top: 25px;
  }
  li:not(:last-child) {
    margin-right: 47px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $secondary-bg-color;
    transition: background-color 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background-color: $accent-color;
      //path {
      //  fill: #8A8A8A;
      //}
    }
  }
}

.footer__social {
  .social-list {
    margin: 0;
    li:not(:last-child) {
      margin-right: 22px;
    }
    a {
      width: 22px;
      height: 22px;
      background: none;
      :hover {
        path {
          fill: $accent-color;
        }
      }
      path {
        fill: #737373;
        transition: fill 0.3s;
      }
    }
  }
}
