
/*----------------*/
/* Product page */

.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
  padding: 0 10px;
}

.woo-variation-swatches .variable-items-wrapper {
  flex-wrap: nowrap !important;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
  box-shadow: none;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):hover {
  box-shadow: none;
}

.woo-variation-swatches.wvs-style-rounded .variable-items-wrapper .variable-item .variable-item-span {
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-decoration: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  border: none;
}

.variable-item:not(.radio-variable-item) {
  width: unset !important;
  height: unset !important;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
  background-color: #F2F3F7;
  box-shadow: none !important;
  padding: 4px 6px !important;
  margin: 0 4px 0 0;
  color: #A0A0A0;
}

.product__option .radio__wrapper, .product__option .quantity {
  margin: 0;
}

.woo-variation-swatches.wvs-style-rounded .variable-items-wrapper .variable-item {
  border-radius: 50px !important;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
  background-color: #60CAE5;
  color: #000;
}

.product__options-wrapper tr {
  padding-right: 15px;
}

.woo-variation-swatches .variable-items-wrapper .variable-item.color-variable-item {
  font-size: 0;
  width: 29px !important;
  height: 29px !important;
  padding: 0!important;
  box-shadow: 0 0 0 1px #000 !important;
  padding: 0;
  transition: border 0.4s;
}
.woo-variation-swatches .variable-items-wrapper .variable-item.color-variable-item.selected {
  box-shadow: 0 0 0 2px #60cae5 !important;
}

.reset_variations {
  color: #A4A3A3;
}

.reset_variations:hover {
  opacity: 0.8;
}

.woocommerce .quantity .qty {
  width: 20px;
}

.product__btn {
  padding: 25px 56px !important;
  border-radius: 50px !important;
  margin-top: 48px !important;
}

.btn {
  display: block !important;
  border-radius: 50px !important;
  background-color: #60CAE5 !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: none !important;
  cursor: pointer !important;
}

/*----------------*/
/* Payment page */

.woocommerce ul.order_details {
  margin: 3em 0 3em;
  padding: 0;
}


.woocommerce table.shop_table td a {
  color: #000;
}
.woocommerce table.shop_table td a:hover {
  opacity: 0.8;
}

.wc-item-meta li {
  display: flex;
  align-items: baseline;
}

.wc-item-meta li {
  display: flex;
  align-items: baseline;
}

.woocommerce td.product-name .wc-item-meta p {
  margin: 0 10px 0;
}

/*----------------*/
/* 404 page */


/*----------------*/
/* Subscribe page */

.has-error {
  display: block;
  margin-top: 10px;
  color: #F50C0C;
}

.individual-subscription__btn {
  background-color: #222222 !important;
  padding: 17px 38px !important;
}

/*----------------*/
/* Signup page */

.user-registration-error {
  border-top: none;
  background: none;
  color: #F50C0C;
}

.checkout-form .form-input {
  margin: 29px 0 0 !important;
}

.product__option .radio__wrapper, .product__option .quantity {
  margin: 0;
}

.spollers-block__body .btn {
  display: inline-block !important;
}

/*------------
My account
--------------*/
.woocommerce-MyAccount-content a {
  color: #000;
}
.woocommerce-account a:hover {
  opacity: 0.8;
}
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
}

.woocommerce-MyAccount-navigation-link a {
  text-decoration: none;
  padding: 12px 0;
  display: block;
  border-bottom: 1px solid #CBCBCB;
  max-width: 200px;
  transition: all 0.4s;
  color: #000;
}

.woocommerce-MyAccount-navigation-link a:hover,
.woocommerce-MyAccount-navigation-link.is-active a {
  opacity: 1;
  color: #60CAE5;
}
.woocommerce-Input.input-text {
  max-width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #8D8D8D;
  padding: 10px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.woocommerce-MyAccount-content label {
  padding-left: 0;
}

.woocommerce form .form-row {
  margin: 0 0 24px;
}

.woocommerce-MyAccount-content em {
  font-size: 0.875rem;
  font-weight: 400;
  color: #A0A0A0;
}

.woocommerce-MyAccount-content fieldset {
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  padding: 20px 40px;
}

.woocommerce form .form-row label {
  line-height: 2;
  font-weight: 600;
  color: #7B7B7B;
}

a.post-edit-link {
  color: #8d8d8d;
  margin-bottom: 55px;
  display: block;
}

.woocommerce-MyAccount-content .button {
  display: inline-block !important;
  border-radius: 50px !important;
  background-color: #60CAE5 !important;
  border: none !important;
  color: #fff !important;
  padding: 17px 38px !important;
}

a.woocommerce-button.button.view {
  color: #60CAE5 !important;
  background-color: #fff !important;
  border: 2px solid #60CAE5 !important;
}

@media screen and (max-width: 560px) {
  .video-popup__text {
    bottom: 15px;
  }
}
@media screen and (max-width: 560px) {
  .video-popup__wrapper .video-popup-link img {
    max-width: 80%;
    height: auto;
  }
}